<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
.footer-text {
	font-size: 25px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	border-right: .10em solid black;
	/* Tạo hiệu ứng dấu nháy */
	animation: typing 2s steps(16, end) infinite;
	color: red;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
	/* Thêm hiệu ứng đổ bóng */
}


keyframes typing {from { width:0;
	
}

to {
	width: 100%;
}
}
</style>
<body>
	<!-- Footer -->
	<!-- Remove the container if you want to extend the Footer to full width. -->


	<footer class="text-lg-start text-white"
		style="background-color: #B19470">

		<!-- Grid container -->
		<div class="container p-4">
			<!--Grid row-->
			<div class="row my-4">
				<!--Grid column-->
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">

					<div
						class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
						style="width: 150px; height: 150px;">
						<img src="../../images/logostore1.jpg" height="150px" alt=""
							loading="lazy" style="border-radius: 50%" />
					</div>
					<div class="navbar-breadcrumb text-container">
						<div class="footer-text">
							<a href=""> R I N Z B O O K . . . !</a>
						</div>
					</div>

					<ul class="list-unstyled d-flex flex-row justify-content-center">
						<li><a class="text-white px-2" href="#!"> <i
								class="fab fa-facebook-square"></i>
						</a></li>
						<li><a class="text-white px-2" href="#!"> <i
								class="fab fa-instagram"></i>
						</a></li>
						<li><a class="text-white ps-2" href="#!"> <i
								class="fab fa-youtube"></i>
						</a></li>
					</ul>

				</div>
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-warning  mb-4">HỖ TRỢ KHÁCH HÀNG</h5>

					<ul class="list-unstyled">
						<li>
							<p>
								<i class="fas fa-map-marker-alt pe-2"></i> 711, An Hòa, Ninh
								Kiều, Cần Thơ
							</p>
						</li>
						<li>
							<p>
								<i class="fas fa-phone pe-2"></i> (+84) 899 695 181
							</p>
						</li>
						<li>
							<p>
								<i class="fas fa-envelope pe-2 mb-0"></i> rinzbook.vn@gmail.com
							</p>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-warning mb-4" >TRỢ GIÚP</h5>

					<ul class="list-unstyled">
						<li>
							<p>Hướng dẫn mua hàng</p>
						</li>
						<li>
							<p>Phương thức thanh toán</p>
						</li>
						<li>
							<p>Phương thức vận chuyển</p>
						</li>
						<li>
							<p>Chính sách đổi - trả</p>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-warning mb-4">TRỤ SỞ CHÍNH</h5>

					<ul class="list-unstyled">
						<li><iframe
								src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d51353.65117622048!2d105.76239707581668!3d10.052497465743913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1706080728212!5m2!1svi!2s"
								width="250" height="200" style="border: 0;" allowfullscreen=""
								loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</li>

					</ul>
				</div>
				<!--Grid column-->
			</div>
			<!--Grid row-->
		</div>
		<!-- Grid container -->

		<!-- Copyright -->
		<div class="text-center p-3"
			style="background-color:#76453B">
			© 2024 Design by : <a class="text-white"
				href="https://mdbootstrap.com/">Rinz</a>
		</div>
		<!-- Copyright -->
	</footer>


	<!-- End of .container -->
	<!-- Footer END -->

</body>
</html>